<footer class="container-fluid bg-dark text-light sticky-bottom">
    <div class="row">
        <section class="col mx-auto text-center">
            Mon super footer
        </section>
    </div>
</footer>