{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestionnaire de tâches</h1>
    {% if app.user %}
    Bonjour {{ app.user.getFirstname() }}, allons faire un tour du côté de vos tâches!
<form action="{{ path('app_task_index') }}">
    <button type="submit" class="btn btn-primary mt-3">Go!</button>
</form>

    {% else %}    
    <p>Bienvenue! Connectez-vous pour accéder à vos informations!</p>
    <a class="btn btn-lg btn-primary mt-3" href="{{ path('app_login') }}">Me connecter</a>
    {% endif %}
{% endblock %}